* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}


header {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex-direction: column;
    position: relative;
    /* padding: 10px 20px; */
}

header .upper{
    display: flex;
    width: 100%;
    background-color: #333;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}

header .logo {
    font-size: 20px;
    padding-right: 10%;
    padding-left: 5%;
}

header nav ul {
    display: flex; 
    list-style-type: none;
}

header nav ul li {
    margin-right: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.hero {
    position: relative;
    /* background-color: #b3e5fc; */
    /* height: 300px; */
    height: 100%;
    width: 100%;
    text-align: center;
    padding-bottom: 5%;
}

/* .background-image {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.circle {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    background-color: #ffeb3b;
    border-radius: 50%;
} */

.background {
    position: relative;
    /* height: 200px; Высота для фона */
    background-color: #dceefc; /* Цвет фона */
    display: flex;
    height: 100%;
    width: 100%;
    
    justify-content: center;
    align-items: center;
    /* margin-bottom: 10%; */
    padding-bottom: 15%;
}

.circle {
    position: relative;
    /* position: absolute; */
    margin-top: -75px; /* Поднимите кружок выше */
     /*margin-top: -50px; Чтобы круг частично выходил за пределы */ 
    /*top: 50%;          Центрируем по вертикали */
    /* left: 50%;        Центрируем по горизонтали */
    left: 50%; 
    transform: translate(-50%, 0); /* Смещаем объект на половину его размеров */
    width: 150px;
    height: 150px;
    background-color: #fffbcc;
    border-radius: 50%;
    margin-bottom: 5%;
    z-index: 10;
    text-align: center;
}

.main {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    height: 300px;  
}


.search-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-filter input {
    padding: 5px;
    width: 200px;
}

.search-filter button {
    padding: 5px 10px;
    margin-left: 10px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card .photo {
    background-color: #eee;
    height: 150px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .details {
    text-align: center;
}

.card .name, .card .price {
    margin-bottom: 5px;
}

.description {
    margin-bottom: 30px;
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    text-align: center;
}


footer {
    display: flex; /* Используем flexbox для горизонтального выравнивания */
    justify-content: center; /* Пространство между элементами */
    align-items: center; /* Выравнивание по вертикали */
    border-top: 1px solid #ccc; /* Пример границы */
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}
footer aside {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer aside ul {
    display: flex;
    list-style-type: none;
}

footer aside ul li {
    margin-right: 15px;
}

footer aside ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 200;
    font-size: 40px;
    font-style: normal;
  }

