* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../img/cakes/megaback2.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header_line{
    position: relative;
    display: flex;
    justify-content: space-between; 

    align-items: center; 
    width: 100%;
    height: 100px;
    background-color: #402E3A;
    color: #E1E1E1;
    padding-top: 1%;
    padding-right: 5%;
    padding-bottom: 1%;
}


.header_line_logo_img {
    max-width: 100px;
    height: auto;
    display: block; 
    padding-left: 15%;
}


.header_line_logo {
    align-items: center;
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
}

.menu_ul {
    display: flex; 
    list-style-type: none;
}

.menu_a {
    color: #E1E1E1;
    text-decoration: none;
}

.header_line_menu a {
    padding: 5px 10px; 
}

.header_background {
    position: relative; 
    min-height: 300px;
    width: 100%;

    background-image: url('../img/cakes/back52.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
}

.middleware {
    text-align: center;
}

.middleware_position {
    position: relative;
    height: 100%;
    width: 100%;
    padding-bottom: 5%;
}

.middleware_circle {
    position: relative;
    margin-top: -75px; 
    left: 50%; 
    transform: translate(-50%, 0);
    width: 150px;
    height: 150px;
 
    border-radius: 50%; 

    border: 5px inset #E9A8D2;
    margin-bottom: 5%;
    z-index: 15;
    text-align: center;

    background-image: url('../img/cakes/cir4.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.search-filter {
    display: flex;
    justify-content: flex-end;
}

.search-filter_position {
    margin-bottom: 20px;
    padding-right: 1%;
}

.search-filter_input {
    padding: 5px;
    width: 200px;
    border-radius: 10px;
}

.search-filter_button {
    padding: 5px 10px;
    margin-left: 10px;
}

.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.catalog_position {
    margin-bottom: 20px;
}

.catalog_card {
    background-color: #E1E1E1;;
    border: 1px solid #ddd;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    
}

.catalog_card_photo {
    background-color: #eee;
    height: 50vh;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.catalog_card_photo_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catalog_card_details {
    text-align: center;
}

.catalog_card_details_name, .catalog_card_details_price {
    margin-bottom: 5px;
}

.description {
    background-color: #E1E1E1;
    border: 1px solid #ddd;
    text-align: center;
}

.description_position {
    margin-bottom: 30px;
    padding: 20px;
}


.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    background-color: #402E3A;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer_aside {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer_menu a {
    padding: 5px 10px; 
}

.great-vibes-regular {
    font-family: "Great Vibes", cursive;
    font-weight: 200;
    font-size: 48px;
    font-style: normal;
    color: #402E3A;
  }

  .kurale-regular {
    font-family: "Kurale", serif;
    font-weight: 400;
    font-style: normal;
  }


  .pagination {
    display: flex;
    justify-content: center;
}

.pagination_position {
    margin: 30px 0;
}

.pagination_button {
    color: #402E3A;
    padding: 10px 15px;
    text-decoration: none;
    border: 1px solid #E9A8D2;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #E1E1E1;
    font-family: "Kurale", serif;
    transition: background-color 0.3s, color 0.3s;
}

.pagination_button:hover {
    background-color: #402E3A;
    color: #E1E1E1;
}

.pagination_button__active {
    background-color: #E9A8D2;
    color: #402E3A;
    border: 1px solid #402E3A;
    font-weight: bold;
}
